# CP Invoice cost check

Cleaning - The data is usually collected as part of the business processes and across multiple sheets. Therefore, before we can attempt to analyse/check the data, we need to bring it to a usable form, cleaned and optimized for the purpose we need it for.

In [25]:
#Import Libraries that we may need for the project
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.options.mode.chained_assignment = None  # default='warn'

In [159]:
#import the csv dataset

price = pd.read_excel("Vogue CPHAr detail 93022.xlsm", sheet_name=None)

cost=price["Cost"]
detail=price["detail"]

 in order to set up the common  primary key to merge,  firstly concanate column Item and Quantity to have a new column named "With packsize" inside our detail sheet which is the monthly uncleaned  sheet.

In [160]:
detail['itemqtyd'] =detail['ITEM'] +' '+ detail['QTYD'].map(str)
print(detail['itemqtyd'])

0       TADALAFIL 20 MG TABLET 30
1       TADALAFIL 20 MG TABLET 90
2       TADALAFIL 20 MG TABLET 90
3      SILDENAFIL 50 MG TABLET 12
4        TADALAFIL 5 MG TABLET 90
                  ...
223      TADALAFIL 5 MG TABLET 90
224     TADALAFIL 20 MG TABLET 30
225     TADALAFIL 20 MG TABLET 12
226     TADALAFIL 20 MG TABLET 90
227     TADALAFIL 10 MG TABLET 60
Name: itemqtyd, Length: 228, dtype: object

In [164]:
detail['itemqtyd'][46]

'TADALAFIL    TAB 20MG 12'

clean the "With packsize" column with removing extra white space and reverse the unsual display of product name.

In [163]:
#remove extra space
detail['a']= detail['itemqtyd'].str.split()
detail['a']
#.apply(lambda x: [y.strip() for y in x])

0       [TADALAFIL, 20, MG, TABLET, 30]
1       [TADALAFIL, 20, MG, TABLET, 90]
2       [TADALAFIL, 20, MG, TABLET, 90]
3      [SILDENAFIL, 50, MG, TABLET, 12]
4        [TADALAFIL, 5, MG, TABLET, 90]
                     ...
223      [TADALAFIL, 5, MG, TABLET, 90]
224     [TADALAFIL, 20, MG, TABLET, 30]
225     [TADALAFIL, 20, MG, TABLET, 12]
226     [TADALAFIL, 20, MG, TABLET, 90]
227     [TADALAFIL, 10, MG, TABLET, 60]
Name: a, Length: 228, dtype: object

# check the number of elements
# if 4 elemets, reverse index 1 and 2 order
# seperate number and mg after reversing order

In [165]:
detail['a'][46]

['TADALAFIL', 'TAB', '20MG', '12']

In [97]:
ls =['TADALAFIL', 'TAB', '20MG', '12']
if ls[2].isnumeric():
    print([ls[0],ls[2],ls[3],"TABLET",ls[4]])
else:
    print(ls)

['TADALAFIL', '20', 'MG', 'TABLET', '30']

In [98]:
ls1 =["TADALAFIL", "20", "MG","TABLET", "30"]
if ls1[2].isnumeric():
    print([ls1[0],ls1[2],ls1[3],"TABLET",ls1[4]])
else:
    print(ls1)

['TADALAFIL', '20', 'MG', 'TABLET', '30']

In [157]:
for i in range (len(detail)):
    ls=detail['itemqtyd'][i]
ls[1]

'10'

In [155]:
for i in range (len(detail)):
    ls=detail['itemqtyd'][i]
    if ls[1].isnumeric():
        ls
    else:
        [ls[0],ls[2],ls[1],ls[3]]

In [ ]:
df['Gender']=np.nan
for i in range (len(df)):
    entry=df['firstname'][i]
    if entry in Cost:
        df['Gender'][i]='Male'
    else:
        df['Gender'][i]='Undefined'

In [63]:
check= price["Cost"].merge(price["detail"], 
                                     on = [price["Cost"]['With packsize'],price["detail"]['With packsize']], 
                                     how = "right")
check

KeyError: 0      EZETIMIBE 10 MG TABLET 100
1      EZETIMIBE 10 MG TABLET 100
2      EZETIMIBE 10 MG TABLET 100
3      EZETIMIBE 10 MG TABLET 100
4      EZETIMIBE 10 MG TABLET 100
                  ...
255      TADALAFIL 5 MG TABLET 90
256      TADALAFIL 5 MG TABLET 90
257      TADALAFIL 5 MG TABLET 90
258      TADALAFIL 5 MG TABLET 90
259      TADALAFIL 5 MG TABLET 90
Name: With packsize, Length: 260, dtype: object